.custom-tooltip {
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  .tooltip-header {
    font-weight: bold;
  }
  .tooltip-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    pre {
      font-size: large;
      margin-left: 5px;
    }
  }
}
.button-back{
  a{
    text-decoration: none;
    color: #fff;
    background-color: #04838F;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
    &:hover{
      background-color: #01646dce;
    }
  }
}





