
<div class="container">
  <app-header [title]="countryName" [customContent]="detailCustomContent"></app-header>
  <div class="container-main">
    <div class="chart">
        <ngx-charts-line-chart
        [results]="lineChartData"
        [gradient]="false"
        [animations]="false"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Dates'"
        [yAxisLabel]="'Medals'">
        <ng-template #tooltipTemplate let-model="model">
          <div class="custom-tooltip">
            <div class="tooltip-header">{{ model.name }}</div>
            <div class="tooltip-content">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0z"/>
                <circle cx="12" cy="12" r="10" fill="#f1c40f"/>
                <path d="M11.2 15.4L7 18.86l1.3-4.9-4.36-3.76 5.1-.02L12 6l1.86 4.18 5.1.02-4.36 3.76 1.3 4.9-4.2-3.46z" fill="#f39c12"/>
              </svg>             
              <pre>{{ model.value }}</pre>
            </div>
          </div>
        </ng-template>
        </ngx-charts-line-chart>
  </div>
</div>
  <div class="button-back">
    <a routerLink="">Go back</a>
  </div>
</div>








