<h2>Medals per Country</h2>
<div class="card card-jos">Number of JOs {{olympics$}}</div>
<div class="card card-countries">Number of countries {{ (olympics$ | async)?.length }}</div>

<div>
  <canvas id="myChart"></canvas>
</div>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>


<p>{{ (olympics$ | async)?.length }} data loaded</p>
