*{
  font-family: Roboto, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: x-large;
  .container-head {
    flex: 30%;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    h2 {
      text-align: center;
      padding: 11px;
      background: #04838F;
      color: #fff;
      border-radius: 5px;
      display: inline-block;
      margin: 15px;
    }
  }
  .card {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    p {
      color: #333333ab;
    }
    span {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: xx-large;
      color: #333;
    }
    .card-jos,
    .card-countries {
      border: 2px solid #04838F;
      border-radius: 5px;
      padding: 11px;
    }
  }
  .container-main {
    flex: 70%;
    margin: 0 auto 0;
    .chart{
      width: 800px;
      height: 500px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container{
    font-size: large;
  }
  .container .container-main .chart{
    width: 700px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .container{
    font-size: medium;
  }
  .container .container-main .chart{
    margin-top: 15px;
    width: 350px;
    height: 150px;
  }
}



