*{
  font-family: Roboto, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: x-large;
    .container-main {
    flex: 70%;
    margin: 0 auto 0;
      .chart{
        width: 800px;
        height: 500px;
      }
  }
}
@media screen and (max-width: 1024px) {
  .container{
    font-size: large;
  }
  .container .container-main .chart{
    width: 700px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .container{
    font-size: medium;
  }
  .container .container-main .chart{
    margin-top: 15px;
    width: 350px;
    height: 150px;
  }
}

